* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  width: 100%;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/zMaxNery/ExerciciosReact/main/img/fundo-login.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}